<%- include("./partials/header")%>

    
    
        <br>
        <br>
        <p class="lead" style="color: aliceblue;font:Arial, Helvetica, sans-serif">One stop for information related to films, television programs, home videos, video games, and streaming content online – including cast, production crew and personal biographies, plot summaries, trivia, ratings, and fan and critical reviews </p>
        <div class='row'>
          <div class='col-md'>
            
              <img src="https://static.toiimg.com/photo/msid-71454942/71454942.jpg?1459137" style="width:500px ;height:600px"  >
              
            
          </div>
          <div class='col-md'>
            
            <img src="https://nenow.in/wp-content/uploads/schema-and-structured-data-for-wp/Story-9-11-scaled-1200x900.jpg" style="width:500px ;height:600px"  >
              
            
          </div>

          <div class='col-md'>
            
            <img src="https://i.pinimg.com/736x/2c/4e/ea/2c4eea8a8eee7512ba7cc8627297178d.jpg" style="width:400px ;height:600px"  >
              
            
          </div>

            
            
            
            
              
            
            
         
        </div>
        
        
        
    
    <%- include("./partials/footer")%>